.about{
//will add responsivness later, getting base layout
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 291px;

    .abContent {
        padding-top: 215px;
        width: 80vw;
        display: flex;
        
           img {
            width: 40vw;
          
        } 
        
        

        .abText {
            padding-left: 50px;

            h2 {
                text-align: center;
                margin-top: -30px;
            }

            h3 {
                text-align: center;
                padding-top: 20px;
            }

            p {
                padding-top: 30px;
                text-align: center;
            }
        }
    }
}
@media (max-width:768px){
    .about{
        .abContent{
            .abText{
                h2{
                    font-size: 12px;
                }
                h3{
                    font-size: 8px;
                }
                p{
                    font-size: 11px;
                }
            }
        }
    }
    
}

@media (max-width:390px){
    .about{
        .abContent{
            .abText{
                h2{
                    font-size: 6px;
                }
                h3{
                    font-size: 6px;
                }
                p{
                    font-size: 6px;
                }
            }
        }
    }
    
}