.account{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    .login, .signup{
        min-width: 50%;
        height: 90vh;
        
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
    }
    
    .content{
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 230px; 
        
        h4{
            font-family: 'Segoe UI';
            font-size: 26px;
            font-weight: normal;
            padding-bottom: 20px;
            
        }
        h6{
            font-family: 'Segoe UI';
            font-size: 16px;
            font-weight: normal;
            margin: 0;
        }
        input{
            margin-bottom: 35px;
            font-family: 'Segoe UI';
            font-size: 16px;
            font-weight: normal;
            border: none;
            border-bottom: 1px solid black;
        }
        .buttonHolder{
            margin: 0 auto;
            cursor: pointer;
            #loginButton, #signupButton, #logoutButton{
            background-color: #587C83;
            cursor: pointer;
            font-family: 'Segoe UI';
            font-size: 16px;
            font-weight: normal; 
            background-color: var(--blue-less-trans);
            color: white;
            width: 170px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            
        } 
        #logoutButton{
            margin-top: 5px;
        }
        }
        
    }

}

@media (max-width:768px){
    .account{
        flex-direction: column;
        height: 80vh;
        padding-bottom: 40px;
    }
    .content{
       h4{
       font-size: 12px !important;
    //    background-color: green;
        
    }
    h6, input{
       font-size: 11px !important;
    //    background-color: green;
    }
    h6{
        padding-bottom: 20px;
    }
    
    .buttonHolder{
       
        #loginButton, #signupButton, #logoutButton{
        width: 112px !important;
        height: 37px !important;
        font-size: 12px !important;
    } 
    } 
    }
    
}

@media (max-width:390px){
    .account{
        flex-direction: column;
        height: 80vh;
        padding-bottom: 40px;
    }
    .content{
        width: 130px !important ;
       h4{
       font-size: 6px !important;
    //    background-color: green;
        
    }
    input{
        width: 130px !important;
       font-size: 6px !important;
    //    background-color: green;
    }
    h6{
        font-size: 6px !important;
        padding-bottom: 20px;
    }
    
    .buttonHolder{
       #loginButton, #signupButton, #logoutButton{
        width: 68px !important;
        height: 25px !important;
        font-size: 6px !important;
       }
       
    } 
    }
    
}