.account{
    width: 100vw;
    display: flex;
    flex-direction: row;
    .login{
        width: 50%;
        height: 90vh;
        
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
    }
    .signup{
        width: 50%;
        height: 90vh;
        
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
    }
    .content{
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        
        width: 230px; 
        
        h4{
            font-family: 'Segoe UI';
            font-size: 26px;
            font-weight: normal;
            
        }
        h6{
            font-family: 'Segoe UI';
            font-size: 16px;
            font-weight: normal;
            margin: 0;
        }
        input{
            margin-bottom: 35px;
            font-family: 'Segoe UI';
            font-size: 16px;
            font-weight: normal;
            border: none;
            border-bottom: 1px solid black;
        }
        .buttonHolder{
            margin: 0 auto;
           .button{
            
            cursor: pointer;
            font-family: 'Segoe UI';
            font-size: 16px;
            font-weight: normal; 
            background-color: var(--blue-less-trans);
            color: white;
            width: 170px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            
        } 
        }
        
    }

}